html, body {
    height: 100%;
}

body {
    background: linear-gradient(rgba(21, 51, 77, 0.9), #AFAFAF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container2 {
    gap: 1em;
}

.heading {
    color: rgb(255, 255, 255);
    width: 100%;
    z-index: 3;
    text-align: center;
}

#glass-panel {
    font-size: 210%;
    text-shadow: 1px 1px 3px;
    border-radius: 50%;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.005);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
}

.action {
    position: relative;
    width: 100%;
    z-index: 2;
}

.stage {
    z-index: 1;
}

.runBtn {
    z-index: 3;
}

.runBtn :hover {
    background-color: rgb(21,51,77);
    color: white;
}

.collage {
    width: 92%;
    position: absolute;
}

.img {
    position: absolute;
}